.auth-container{
    background-color:white;
    height: 100vh;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    margin: 0;
 
        .google-btn{
            cursor: pointer;
            width: 480px;
            height: 60px;
            border-radius: 4px;
            font-size: 16px;
            letter-spacing: 1px;
            position: relative;
            background-color: #1faced;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: white;
            border: none;
        }
        .logo{
            position: absolute;
            top: 35%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 35px;
        }
    

}