   .content-cont{
        margin-left:200px;   
        width: 60%;
    }
    .top-div{
        border-bottom:solid 1px #e8e8e8;
        margin-top: 6%;
        padding-left: 25px;
        padding-top:15px;
        .list_deselected {
            float: right;
            margin-top: 30px;
            margin-right: 17px;
            margin-bottom: 10px;
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
          .Grid_deselected {
            float: right;
            margin-top: 30px;
            margin-right: 32px;
            margin-bottom: 10px;
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
    }
    .side-nav-right{
        position :fixed;
        border-left:solid 1px #e8e8e8;
        margin-left: 72%;
        top: 0;
        height: 100%;
        padding-top:90px;
        padding-left: 53px;
        .Upload_file{
            margin-right: 8px;
            width: 14px;
            height: 21px;
        }
        .Upload_File{
            margin-top: 4px;
            cursor: pointer;
            width: 65px;
            height: 14px;
            font-family: SFUIText;
            font-size: 12px;
            font-weight: 500;
            float: right;
            color: #007aff;
        }
    }
    .folder-path{ 
        display:flex; 
        cursor: pointer;
        font-family: SFUIText;
        font-size: 15px;
        text-align: left;
        color: #3d3d3d;
    }

    .folder-wrapper{
        display:inline-block;
        // width: 113.6%;
    }
    .folder-wrapper-grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: -3;
        // justify-content: space-evenly;
    }
    .divider-horizontal{
        position: absolute;        
        width: 1228px;
        height: 1px;
        border: solid 1px #e4e4e4;
    }
    .divider-vertical{
        position: absolute;
        width: 2px;
        height:100%;
        border: solid 1px #e8e8e8;
        margin-left: 1223px;
    }
        .folder-cont{
            width:auto;
            padding: 10px;
            border-bottom: 1px solid #e4e4e4;
        }
        .folder-number{
            margin: 10px;               
        }
        .more{
            cursor: pointer;
            float: right;
            margin-top: 10px;
            margin-right: 20px;
        }
        .Rectangle-share{
            .more;
            margin-right: 5px;
            background-color: white;
            margin-top: 6px;
            margin-right: 30px;
            width: 65px;
            height: 24px;
            border-radius: 2px;
            border: solid 1px #77c87f;
            font-family: SFUIText;
            font-size: 10px;
            color: #717171;
        }
        .project-size{
            .more;
            font-family: SFUIText;
            font-size: 8px;
            font-weight: 300;
            font-style: italic;
            color: #686868;
            margin-right: 7px;
            margin-top: 15px;
        }
    
    .create-folder-btn{
       position: fixed;
       width: 547px;
       height: 30px;
       bottom:12px;
       border-radius: 2px;
       background-color: #77c87f;
       font-family: SFUIText;
       font-size: 13px;
       font-weight: 600;
       text-align: center;
       color: #ffffff;
       margin-left: 30%;
       line-height: 30px;
       z-index: 2;
    }
    .folder-cont-grid{  
        margin-left:80px;
        position:relative;
        margin-right: 32px;
        margin-top: 30px;
        width: 146px;
        height: 182px;
        border-radius: 2px;
        border: solid 1px #e4e4e4;
        .folder-bottom{
            position:absolute;
            bottom: 0;
            width: 100%;
            height: 28px;
            border-radius: 3px;
            background-color: #f9f9f9;
            padding:5px 10px;
            .folder-name{
                width: 86px;
                height: 15px;
                font-family: SFUIText;
                font-size: 13px;
                font-weight: 300;
                text-align: center;
                margin-top:auto;
                color: #0c0c0c;           
             }
             .folder-more{
                 margin-top:3px; 
                 float: right;
             }
        }
        .folder-grid-image{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40%;
        }
    }   
      .upload-file-button{
        width: 105px;
        height: 40px;
        border-radius: 2px;
        background-color: #77c87f;
   }
      .upload-file{
          display: flex;
          justify-content: center;
      .upload-file-button{
        padding:6px 277px 6px 6px;
        line-height:20px;
        border-right:solid 1px #e4e4e4;;    
        border-radius: 2px;
        background-color: #77c87f;
        color: white;
        span{
            margin-left: 100px;
        }
    }
}
    .folder-image{
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
        width: 21px;
        height: 16px;
        cursor: pointer;
    }
    .folder-number,.folder-name{
        display: inline-block;
        vertical-align: middle;
    }
    .folder-input{
        display: inline-block;
        margin: 0 10px;
        vertical-align:middle;

        input{
            height:25px;
        }
    }
    .add-folder-cont{
        margin: 50px 40px 0px 40px;

    }
    .container-boundary{
        display: flex;
        flex-direction: column;
        width: 120%;
    }
    .smallpopup{
        // position: fixed;
        z-index: 3;
        float: right;
        .smallpopup_inner{
            padding:15px;
            position: absolute;
            right:20%;
            width: 144.3px;
            height: 130px;
            border-radius: 2px;
            background-color: #ffffff;
            box-shadow: 9px 10px 20px 0 rgba(0, 0, 0, 0.13);
        }
        .smallpopup_inner:after, .smallpopup_inner:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        .smallpopup_inner:after {
            border-color: rgba(136, 183, 213, 0);
            border-left-color: #ffffff;
            border-width: 12px;
            margin-top: -50px;
        }
        
    }
    @media (max-width:760px) and (min-width:500px) {
        .top-div{
            margin-top:20%;
        }
        .side-nav-right{
            margin-left:50%;
        }
        .container-boundary{
            width:83%;
        }
        .create-folder-btn{
          cursor: pointer;
          width: 300px;
          height: 30px;
          margin-left: 33.4%
        }
      }
      @media (max-width:1024px) and (min-width:761px) {
        .top-div{
            margin-top:20%;
        }
        .side-nav-right{
            margin-left:50%;
        }
        .container-boundary{
            width:83%;
        }
        .create-folder-btn{
          width: 300px;
          height: 30px;
          margin-left: 33.4%
        }
    }
    @media (max-width:1424px) and (min-width:1024px) {
        .top-div{
            margin-top:10%;
        }
        .side-nav-right{
            margin-left:60%;
        }
        .container-boundary{
            width:100%;
            position: initia
        }
        .create-folder-btn{
          width: 300px;
          height: 30px;
          margin-left: 33.4%
        }
    }
